---
layout: layouts/scenario.njk
title: Planning Application AI
description: Use AI to extract key information from planning applications, identify potential issues, and suggest relevant policies. Speed up planning decisions by 40%.
scenario: planning-ai
---
