---
layout: layouts/next-steps.njk
title: What's Next - FOI Redaction
description: Next steps for implementing FOI Redaction automated sensitive data redaction
scenario: foi-redaction
eleventyExcludeFromCollections: false
permalink: /next-steps/foi-redaction/
---
